<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login - Grids & Circle</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-container">
  <h2>Welcome Back</h2>
  <form th:action="@{/login}" method="post">
    <input type="text" name="username" />
    <input type="password" name="password" />
    <button type="submit">로그인</button>
  </form>
  <div class="admin-login-link">
    <a th:href="@{/adminlogin.html}">관리자 로그인</a>
  </div>
  <div class="register-link">
    <a th:href="@{/register.html}">아직 회원이 아니신가요?</a>
  </div>
</div>
</body>
</html>